[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Work Sans', sans-serif;
  background: #2bb673;
  color: white;
  padding-top: 70px; }

nav {
  background: #2bb673; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0; }
