[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  padding-top: 75px;
  background: #f0f0f0; }

nav {
  background: #2bb673;
  box-shadow: 0 1px 6px #6b6b6b; }

footer {
  background: lightgrey;
  height: 60px;
  text-align: center;
  color: #6b6b6b;
  padding-top: 20px; }

.row.footer-row {
  margin: 0; }

.navbar.navbar-fixed-top {
  height: 75px; }

.nav-link {
  height: 60px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fdfdfd;
  margin-top: 15px; }
  .nav-link:hover, .nav-link:focus {
    color: #d2763b;
    background: #f0f0f0; }

.navbar-brand {
  width: 175px;
  margin-left: 30px; }

.container-fluid.navbar-container {
  padding-left: 25px; }

#map {
  width: 100%;
  height: 85vh; }

.listings {
  height: 85vh;
  overflow: scroll; }

.list-group-item {
  background: #fdfdfd; }

.register {
  height: 550px;
  text-align: center; }
  .register h1 {
    color: #fdfdfd;
    margin-top: 210px;
    margin-bottom: 40px;
    font-size: 3.75em;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 1.5px 1.5px 3px #2f2f2f; }

.donor {
  background: url("../../images/collagebw-1.jpg");
  background-size: cover; }

.recipient {
  background: url("../../images/collagebw-2.jpg");
  background-size: cover; }

.sign-up {
  padding: 12px 50px;
  border: 2px solid #fdfdfd;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fdfdfd;
  background: none; }
  .sign-up:hover {
    background: #2bb673;
    color: #fdfdfd;
    text-decoration: none; }

.call-to-action {
  padding: 35px 0;
  background: #2f2f2f;
  text-align: center; }

.action {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 50px;
  border: 2px solid #2bb673;
  color: #2bb673; }
  .action:hover {
    border: 2px solid #f0f0f0;
    color: #2bb673;
    text-decoration: none; }

.space {
  margin: 10px 0; }

.panel-default > .panel-heading {
  background-color: lightgrey; }
  .panel-default > .panel-heading .panel-title {
    color: #2f2f2f;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px; }

.list-group-item {
  background: #fbfbfb; }

.map-items {
  background: #fbfbfb; }
  .map-items .list-group-item-heading {
    color: #25a065;
    font-size: 1.25em; }
  .map-items h5 {
    color: #d2763b;
    font-weight: 600; }
  .map-items p {
    margin: 0;
    color: #6b6b6b; }
  .map-items a {
    color: #d2763b; }

.calendar {
  color: #d2763b; }

.legend {
  background: #2f2f2f;
  color: lightgrey;
  height: 45px;
  padding-top: 6px; }

.green {
  color: #2bb673; }

.orange {
  color: #d2763b; }
