<div class="row space">

</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Salvage: The Next Step In Environmental Stewardship</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <dl class="dl-horizontal">
              <dt>
                About
              </dt>
              <dd>
                <p>
                  Salvage is a website and desktop app to connect and locate individuals and businesses looking to dispose of food waste or donate excess food to shelters or food banks.
                </p>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="dl-horizontal">
              <dt>
                Who can use it?
              </dt>
              <dd>
                <p>
                  Salvage would be best used by businesses or individual users interested in helping solve the problem of food waste in America. Dropoff locations can register to locate donations and request certain types based on need.
                </p>
                <div class="col-md-6">
                  <h5>Potential Donors</h5>
                  <ul>
                    <li>
                      Restaurants without a composting/donation program
                    </li>
                    <li>
                      Individual users or families
                    </li>
                    <li>
                      Breweries or home brewers
                    </li>
                    <li>
                      Bakeries, grocery stores, farmer's markets, etc.
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>Potential Recipients</h5>
                  <ul>
                    <li>
                      Food banks, pantries, or donation agencies
                    </li>
                    <li>
                      Composting/Sanitation service companies
                    </li>
                    <li>
                      Community Gardens
                    </li>
                    <li>
                      Livestock Farmers
                    </li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="dl-horizontal">
              <dt>
                What to donate?
              </dt>
              <dd>
                <p>
                  There are numerous food ietms that can be safely donated or disposed of for composting. Listed below are some recommended items.
                </p>
                <div class="col-md-6">
                  <h5>Food Donation</h5>
                  <ul>
                    <li>
                      Canned vegetables, fruit, or sauces
                    </li>
                    <li>
                      Oatmeal, whole grain crackers, pasta, cereal
                    </li>
                    <li>
                      Canned tuna, chicken, beans, soups, peanut butter, nuts
                    </li>
                    <li>
                      Dry or evaporated milk
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>Compost</h5>
                  <ul>
                    <li>
                      Banana peels, corn cobs, egg or nut shells, coffee grounds
                    </li>
                    <li>
                      Cardboard, dog food, feathers, hair, hops, newspaper
                    </li>
                    <li>
                      Flowers, grass clippings (green or dry), hay, leather, sawdust, weeds
                    </li>
                  </ul>
                </div>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="dl-horizontal">
              <dt>
                Why donate?
              </dt>
              <dd>
                <p>
                  An estimated 70 billion pounds of food is wasted or thrown out in America every year, and even most of the largest cities lack any type of centralized composting or food donation systems.
                </p>
                <ul>
                  <li>
                    25-40% of all food grown will never be consumed because of aesthetic standards, outdated labeling, and no solid rule on expiration dates
                  </li>
                  <li>
                    Most thrown out food ends up in landfills and rotting fruit is a significant source of methane
                  </li>
                  <li>
                    More food reaches landfills and incinerators than any other material in municipal solid waste (MSW)
                  </li>
                </ul>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="dl-horizontal">
              <dt>
                Technical Notes
              </dt>
              <dd>
                Excess Food Donation &amp; Composting App
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
