<div class="row">
  <div class="col-md-6 register donor">
    <h1>Sign up as a Donor</h1>
    <a href="#/register/donor" type="button" class="sign-up">Donor Sign Up</a>
  </div>
  <div class="col-md-6 register recipient">
    <h1>Sign up as a Recipient</h1>
    <a href="#/register/recipient" type="button" class="sign-up">Recipient Sign Up</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 call-to-action">
    <a href="#/donation" type="button" class="action">Post food for donation or scraps for composting today</a>
  </div>
</div>
<div class="row about-row">
  <div class="col-md-offset-2 col-md-8">
    <div class="col-md-3 ">
      <img class="img-responsive" src="./images/logo_square200.png" />
    </div>
    <div class="col-md-9">
      <h1>Mission Statement:</h1>
      <hr />
      <ol>
        <h4>
          <li>
            Reduce food waste ending up in landfills
          </li>
        </h4>
        <h4>
          <li>
            Get more good food to pantries and food banks
          </li>
        </h4>
        <h4>
          <li>
            Help push for centralized composting in places like Fort Collins
          </li>
        </h4>
      </ol>
      <hr />
      <a class="text-right" href="#/about"><h5>FIND OUT MORE ></h5></a>
    </div>
  </div>
</div>
<div class="row map-row">
  <div class="container">
    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <h4>Post donations</h4>
    </div>
    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <h4>Find Dropoff Locations</h4>
    </div>
    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-grain"></span>
      <h4>Help the Environment</h4>
    </div>
    <div class="col-md-12 text-center view-map">
      <a href="#/map" type="button" class="view-map-btn">View Map</a>
    </div>
  </div>
</div>
