<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Donation Log: {{LC.user.handle}}</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Category
          </th>
          <th>
            Details
          </th>
          <th>
            Estimated Weight
          </th>
          <th>
            Preferred Pickup
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="donation in LC.donations">
          <td>
            {{donation.category}}
          </td>
          <td>
            {{donation.details}}
          </td>
          <td>
            {{donation.amount}} lbs.
          </td>
          <td>
            {{donation.pickup_date | date : format : 'longDate'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
