<div class="row space">

</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Find Out More</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group text-center">
          <li class="list-group-item">
            <h4>View the code</h4>
            <a class="contact-link" href="https://github.com/IanSmith89/salvage">GitHub</a>
          </li>
          <li class="list-group-item">
            <h4>LinkedIn</h4>
            <a class="contact-link" href="https://www.linkedin.com/in/theiansmith">LinkedIn</a>
          </li>
          <li class="list-group-item">
            <h4>Email</h4>
            <a class="contact-link" href="mailto:iansmith1026@gmail.com">iansmith1026@gmail.com</a>
          </li>
          <li class="list-group-item">
            <h4>Personal Website</h4>
            <a class="contact-link" href="http://www.ianjsmith.com">ianjsmith.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
