<div class="row">
  <div class="col-md-6 text-center">
    <h2>Sign up as a Donor!</h2>
    <a href="#/register/donor" type="button" class="btn btn-default">Donor Sign Up</a>
  </div>
  <div class="col-md-6 text-center">
    <h2>Sign up as a Recipient!</h2>
    <a href="#/register/recipient" type="button" class="btn btn-default">Recipient Sign Up</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Post items for donation or to be composted</h2>
    <a href="#/donation" type="button" class="btn btn-default">Post a Donation</a>
  </div>
</div>
