<div class="row">
  <div class="col-md-6 register donor">
    <h1>Sign up as a Donor!</h1>
    <a href="#/register/donor" type="button" class="sign-up">Donor Sign Up</a>
  </div>
  <div class="col-md-6 register recipient">
    <h1>Sign up as a Recipient!</h1>
    <a href="#/register/recipient" type="button" class="sign-up">Recipient Sign Up</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 call-to-action">
    <a href="#/donation" type="button" class="action">Post food for donation or scraps for composting today</a>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="col-md-4">
      <img class="img-responsive" src="../images/logo_square_black200.png" />
    </div>
    <div class="col-md-8">
      <ul>
        <li>
          Excess Food Donation
        </li>
        <li>
          Food Scrap Composting
        </li>
        <li>
          Natural Rubbish Disposal
        </li>
      </ul>
    </div>
  </div>
</div>
