<div class="container-fluid" ng-init="MapCtrl.initMap()">
  <div class="row">
    <div class="col-md-12 text-center legend">
      <ul class="list-inline">
        <li>
          <img src="../images/marker_green_outline.png" /> Food Donation
        </li>
        <li>
          <img src="../images/marker_orange_outline.png" /> Compost/Food Scraps
        </li>
        <li>
          <img src="../images/marker_green.png" /> Food Dropoff
        </li>
        <li>
          <img src="../images/marker_orange.png" /> Compost Dropoff
        </li>
      </ul>
    </div>
  </div>
  <div class="row space">
    
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default listings">
        <div class="panel-heading">
          <h4 class="panel-title">Posted Donations</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item map-items" ng-repeat="donation in MapCtrl.donations">
              <h4 class="list-group-item-heading">{{donation.details}}</h4>
              <h5>{{donation.amount}} lbs.</h5>
              <p>Posted: {{donation.createdAt | date : 'MMM dd'}} | Pickup: {{donation.pickup_date | date : 'MMM dd'}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12" id="map"></div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default listings">
        <div class="panel-heading">
          <h4 class="panel-title">Dropoff Locations</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item map-items" ng-repeat="recipient in MapCtrl.recipients">
              <h4 class="list-group-item-heading">{{recipient.organization}}</h4>
              <p>{{recipient.address}}</p>
              <p>{{recipient.city}}, {{recipient.state}}</p>
              <p>{{recipient.zip}}</p>
              <h6>{{recipient.phone}}</h6>
              <a href="mailto:{{recipient.email}}"><h6>{{recipient.email}}</h6></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
