<div class="container-fluid" ng-init="MapCtrl.initMap()">
  <div class="row">
    <div class="col-md-12 text-center legend">
      <ul class="list-inline">
        <li class="green">
          <img src="../images/marker_green_outline.png" /> Food Donation
        </li>
        <li class="green">
          <img src="../images/marker_green.png" /> Food Dropoff
        </li>
        <li class="orange">
          <img src="../images/marker_orange_outline.png" /> Compost/Food Scraps
        </li>
        <li class="orange">
          <img src="../images/marker_orange.png" /> Compost Dropoff
        </li>
      </ul>
    </div>
  </div>
  <div class="row space">

  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default listings">
        <div class="panel-heading">
          <h4 class="panel-title">Posted Donations</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item map-items" ng-repeat="donation in MapCtrl.donations | orderBy : '-createdAt'">
              <div class="row">
                <div class="col-md-3">
                  <img src="../images/marker_green_outline.png" ng-show="donation.category === 'Food'" />
                  <img src="../images/marker_orange_outline.png" ng-show="donation.category === 'Compost'" />
                </div>
                <div class="col-md-9">
                  <h5 ng-class="{'orange': donation.category === 'Compost', 'green': donation.category === 'Food'}">{{donation.category}}</h5>
                </div>
              </div>
              <h4 class="list-group-item-heading">{{donation.details}}</h4>
              <h5>{{donation.amount}} lbs.</h5>
              <p>Posted: {{donation.createdAt | date : 'MMM dd'}}</p>
              <p>Pickup: {{donation.pickup_date | date : 'MMM dd'}}</p>
              <button type="button" ng-click="MapCtrl.claim(donation.id)" ng-hide="MapCtrl.user.user.role === 'donor' || !MapCtrl.user.loggedIn">Claim</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12" id="map"></div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default listings">
        <div class="panel-heading">
          <h4 class="panel-title">Dropoff Locations</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item map-items" ng-repeat="recipient in MapCtrl.recipients">
              <div class="row">
                <div class="col-md-3">
                  <img src="../images/marker_green.png" ng-show="recipient.donation_type === 'food'" />
                  <img src="../images/marker_orange.png" ng-show="recipient.donation_type === 'compost'" />
                </div>
                <div class="col-md-9">
                  <h5 ng-class="{'orange': recipient.donation_type === 'compost', 'green': recipient.donation_type === 'food'}">{{recipient.donation_type}}</h5>
                </div>
              </div>
              <h4 class="list-group-item-heading">{{recipient.organization}}</h4>
              <p>{{recipient.address}}</p>
              <p>{{recipient.city}}, {{recipient.state}}</p>
              <p>{{recipient.zip}}</p>
              <h6>{{recipient.phone}}</h6>
              <a href="mailto:{{recipient.email}}"><h6>{{recipient.email}}</h6></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
