<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2><span ng-show="AC.userType === 'donor'">Donor</span><span ng-show="AC.userType === 'recipient'">Recipient</span> Registration</h2>
    <form name="registration" ng-submit="AC.register(registration, registration.$valid); registration.$setPristine();" novalidate>
      <div ng-show="AC.stepOne === 'incomplete'">
        <div class="form-group">
          <label for="first_name">Primary Contact</label>
          <input type="text" name="first_name" class="form-control" ng-model="first_name" placeholder="First Name" ng-minlength="2" ng-maxlength="31" required />
          <span ng-show="registration.first_name.$error.minlength" class="help-block">Must be at least 2 characters</span>
          <span ng-show="registration.first_name.$error.maxlength" class="help-block">Must be less than 32 characters</span>
        </div>
        <div class="form-group">
          <input type="text" name="last_name" class="form-control" ng-model="last_name" placeholder="Last Name" ng-minlength="2" ng-maxlength="63" required />
          <span ng-show="registration.last_name.$error.minlength" class="help-block">Must be at least 2 characters</span>
          <span ng-show="registration.last_name.$error.maxlength" class="help-block">Must be less than 64 characters</span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" ng-model="email" placeholder="Email" ng-maxlength="63" required />
          <span ng-show="registration.email.$invalid && !registration.email.$pristine" class="help-block">Enter a valid email</span>
          <span ng-show="registration.email.$error.maxlength" class="help-block">Must be less than 64 characters</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" ng-minlength="8" ng-maxlength="16" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
          <span ng-show="registration.password.$error.minlength || registration.password.$error.maxlength" class="help-block">Must be between 8 and 16 characters</span>
          <span ng-show="registration.password.$error.pattern" class="help-block">Must contain at one of each of the following: lowercase, uppercase, and number or symbol</span>
        </div>
        <div class="form-group">
          <input type="password" name="password_c" class="form-control" ng-model="password_c" placeholder="Re-type Password" compare-password required />
          <span ng-show="registration.password_c.$error.match && !registration.password_c.$pristine" class="help-block">Passwords do not match</span>
        </div>
        <input type="button" class="btn btn-default" ng-disabled="registration.$invalid;" ng-click="AC.stepOne = 'complete'" value="Next Step" />
      </div>
      <div ng-show="AC.stepOne === 'complete'">
        <div class="form-group">
          <label for="organization">Organization</label>
          <input type="text" name="organization" class="form-control" ng-model="organization" placeholder="Organization" />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" class="form-control" ng-model="phone" placeholder="Phone Number" />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" name="address1" class="form-control" ng-model="address1" placeholder="Street Address" />
        </div>
        <div class="form-group">
          <input type="text" name="address2" class="form-control" ng-model="address2" />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" name="city" class="form-control" ng-model="city" placeholder="City" />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <select name="state" class="form-control" ng-model="state" placeholder="State">
            <option value="AL">
              Alabama
            </option>
            <option value="AK">
              Alaska
            </option>
            <option value="AZ">
              Arizona
            </option>
            <option value="AR">
              Arkansas
            </option>
            <option value="CA">
              California
            </option>
            <option value="CO">
              Colorado
            </option>
            <option value="CT">
              Connecticut
            </option>
            <option value="DE">
              Delaware
            </option>
            <option value="FL">
              Florida
            </option>
            <option value="GA">
              Georgia
            </option>
            <option value="HI">
              Hawaii
            </option>
            <option value="ID">
              Idaho
            </option>
            <option value="IL">
              Illinois
            </option>
            <option value="IN">
              Indiana
            </option>
            <option value="IA">
              Iowa
            </option>
            <option value="KS">
              Kansas
            </option>
            <option value="KY">
              Kentucky
            </option>
            <option value="LA">
              Louisiana
            </option>
            <option value="ME">
              Maine
            </option>
            <option value="MD">
              Maryland
            </option>
            <option value="MA">
              Massachusetts
            </option>
            <option value="MI">
              Michigan
            </option>
            <option value="MN">
              Minnesota
            </option>
            <option value="MS">
              Mississippi
            </option>
            <option value="MO">
              Missouri
            </option>
            <option value="MT">
              Montana
            </option>
            <option value="NE">
              Nebraska
            </option>
            <option value="NV">
              Nevada
            </option>
            <option value="NH">
              New Hampshire
            </option>
            <option value="NJ">
              New Jersey
            </option>
            <option value="NM">
              New Mexico
            </option>
            <option value="NY">
              New York
            </option>
            <option value="NC">
              North Carolina
            </option>
            <option value="ND">
              North Dakota
            </option>
            <option value="OH">
              Ohio
            </option>
            <option value="OK">
              Oklahoma
            </option>
            <option value="OR">
              Oregon
            </option>
            <option value="PA">
              Pennsylvania
            </option>
            <option value="RI">
              Rhode Island
            </option>
            <option value="SC">
              South Carolina
            </option>
            <option value="SD">
              South Dakota
            </option>
            <option value="TN">
              Tennessee
            </option>
            <option value="TX">
              Texas
            </option>
            <option value="UT">
              Utah
            </option>
            <option value="VT">
              Vermont
            </option>
            <option value="VA">
              Virginia
            </option>
            <option value="WA">
              Washington
            </option>
            <option value="WV">
              West Virginia
            </option>
            <option value="WI">
              Wisconsin
            </option>
            <option value="WY">
              Wyoming
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="zip">Zip</label>
          <input type="number" name="zip" class="form-control" ng-model="zip" placeholder="Zip" />
        </div>
        <a href="" type="button" class="btn btn-default" ng-click="AC.stepOne = 'incomplete'">Go Back</a>
        <button type="submit" class="btn btn-default">Register</button>
      </div>
    </form>
    <span ng-hide="registration.$valid">
      * All fields required
    </span>
  </div>
</div>
